body {
  background-color: #000000e3;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00000093;
  padding: 10px;
  border-radius: 40px;
  width: 60vh;
  margin: auto;
}

#icon {
  display: flex;
  justify-content: center; 
  margin-top: 10px;
}

#icon,
#icon a,
#icon img {
  pointer-events: auto;
}

#icon a {
  margin: 5px;
  display: inline-block;
  position: relative;
  z-index: 10;
}

#icon img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

#icon a:hover img {
  transform: scale(1.2);
}
